@charset "UTF-8";
body {
  margin: 0;
  font-family: 'roboto';
  position: relative;
}

body #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(20, 16, 16, 0.8);
  -webkit-animation: disparition 1s 3s ease-in-out forwards;
          animation: disparition 1s 3s ease-in-out forwards;
}

body #preloader #loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

body #preloader #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

body #preloader #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes disparition {
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disparition {
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*fleche sur page de menu des restaurants*/
.fleche_retour {
  margin-left: 15px;
  padding-top: 15px;
  position: absolute;
}

.fleche_retour .fa-arrow-left {
  font-size: 1.5em;
  color: black;
}

/*logo commun à toutes les pages*/
.logo {
  font-family: 'shrikhand';
  text-align: center;
}

/*page d'acceuil*/
.localisation {
  background-color: #e7e1e1;
  border-top: 2px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.localisation .fa-map-marker-alt {
  padding-right: 15px;
}

.reserve {
  background-color: #f2f2f2;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
}

.reserve h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}

.reserve p {
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.reserve a {
  text-decoration: none;
  color: white;
}

.reserve a .explorez {
  width: 200px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.reserve a .explorez:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#bc9de4), to(#e46cc0));
  background-image: linear-gradient(to top left, #bc9de4, #e46cc0);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  margin-top: 40px;
  margin-bottom: 50px;
}

.fonctionnement h1 {
  margin-left: 20px;
  font-size: 1.5em;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
}

.fonctionnement a :hover .fas {
  color: #9356dc;
}

.fonctionnement .fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.fonctionnement .fonction .fas {
  color: grey;
}

.fonctionnement .fonction .icon {
  padding: 10px 15px;
}

.fonctionnement .choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9356dc;
  width: 20px;
  position: absolute;
  margin-left: -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  color: white;
  font-weight: lighter;
}

/*restaurants pages d'acceuil*/
.restaurants {
  width: auto;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants h1 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 1.5em;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants .card {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.restaurants .card .patch {
  background-color: #99e2d0;
  width: auto;
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8em;
  color: #1b811b;
}

.restaurants .card .divimg1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .info {
  padding: 10px;
  position: relative;
}

.restaurants .card .info h3 {
  font-size: 1em;
  margin: 10px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.restaurants .card .info h4 {
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px;
  margin-top: 5px;
}

.restaurants .card .info .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  font-weight: 200;
  color: grey;
}

.restaurants .card .divimg2 {
  background: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .divimg3 {
  background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .divimg4 {
  background: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

/*pages des restaurants*/
.bandeau_image_lapalettedugout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_ledelicedessens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_lanoteenchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_alafrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  background-color: #f2f2f2;
}

.menu .entrees {
  -webkit-animation: fadein 2s ease-in-out;
          animation: fadein 2s ease-in-out;
}

.menu .entrees h2 {
  width: 60px;
  padding-bottom: 8px;
  font-family: 'roboto';
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  font-weight: 700;
}

.menu .plats {
  -webkit-animation: fadein 4s ease-in-out;
          animation: fadein 4s ease-in-out;
}

.menu .plats h2 {
  width: 60px;
  padding-bottom: 8px;
  font-family: 'roboto';
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  font-weight: 700;
}

.menu .desserts {
  -webkit-animation: fadein 6s ease-in-out;
          animation: fadein 6s ease-in-out;
}

.menu .desserts h2 {
  width: 60px;
  padding-bottom: 8px;
  font-family: 'roboto';
  font-weight: lighter;
  border-bottom: 4px solid #99e2d0;
  font-weight: 700;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu .titre {
  width: 100%;
  font-family: 'shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px 40px 0 0;
}

.menu .fa-heart {
  font-size: 2em;
  padding-top: 20px;
  padding-right: 20px;
  color: grey;
}

.menu h2 {
  font-family: 'shrikhand';
  margin-left: 10px;
}

.menu h3 {
  margin: 10px;
}

.menu .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu .plat h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .plat h4 {
  font-size: 0.9em;
  font-weight: 300;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .plat .prix {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 0.8em;
}

.menu .boutoncommander {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .boutoncommander a {
  text-decoration: none;
  color: white;
}

.menu .boutoncommander a .commander {
  width: 200px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu .boutoncommander a .commander:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#bc9de4), to(#e46cc0));
  background-image: linear-gradient(to top left, #bc9de4, #e46cc0);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #2c2a2a;
}

footer h3 {
  color: white;
  font-family: 'shrikhand';
  padding: 20px;
  font-weight: 300;
  margin: 0;
}

footer ul {
  padding: 20px;
  margin: 0;
}

footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

footer .fas {
  padding-right: 10px;
}

footer .fa-hands-helping {
  font-size: 0.7em;
}
/*# sourceMappingURL=style.css.map */