@font-face{
    font-family: 'roboto';
    src: url(font/Roboto-Black.ttf); 
    font-weight: normal;     
}
@font-face {
    font-family:'roboto' ;
    src: url(font/Roboto-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family:'roboto' ;
    src: url(font/Roboto-Bold.ttf);
    font-weight: bolder;
}    
@font-face{
    font-family: 'shrikhand';
    src: url(font/Shrikhand-Regular.ttf);
}
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$fond: #f2f2f2;
$boutonviolet: linear-gradient(to top left, $primaire, $secondaire) ;
$boutonvioletclair: linear-gradient(to top left, #bc9de4, #e46cc0);

@mixin bandeauimage {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
@mixin imageresto {
    height: 200px;                 
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
@mixin patchimage {
    background-color: $tertiaire;
    width:auto;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0.8em;
    color: rgb(27, 129, 27);
}
@mixin buttonpurple {
    width: 200px;
    height: 50px;
    position: relative;                        
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: $boutonviolet;
    border-radius: 25px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}
@mixin buttonpurpleclear{
    background-image: $boutonvioletclair;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
    body{
        margin: 0;  
        font-family: 'roboto';
        position: relative;
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color:rgba(20, 16, 16, 0.8);
            animation: disparition 1s 3s ease-in-out forwards ;
                
        #loader {
            display: block;
            position: absolute;            
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $primaire;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $secondaire;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $tertiaire;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
        @-webkit-keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes disparition{
            5%{
                opacity: 1;
            }
            90%{
                opacity: 1;
            }
            100%{
                opacity: 0;
                visibility: hidden;
            }
        }
        }
    }
    

   
    /*fleche sur page de menu des restaurants*/
    .fleche_retour{
        margin-left: 15px;
        padding-top: 15px;
        position: absolute;        
            .fa-arrow-left{
                font-size: 1.5em;
                color: black;
            }        
    }
    /*logo commun à toutes les pages*/
    .logo{
        font-family: 'shrikhand'; 
        text-align: center;          
    } 
    /*page d'acceuil*/   
    .localisation{
        background-color: rgb(231, 225, 225);
        border-top: 2px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
            .fa-map-marker-alt{            
                padding-right: 15px;
            }
    }
    .reserve {
        background-color: $fond;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 30px;
            h1 {
                text-align: center;
                font-size: 1.8rem;
                margin: 0;
            }
            p {
                text-align: center;
                font-weight: normal;
                margin: 0;            
            }
            
            a {
            
                text-decoration: none;
                color: white;
                .explorez {
                @include buttonpurple
            }
            .explorez:hover{
                @include buttonpurpleclear
            }
            }
    }
    .fonctionnement{
        margin-top: 40px;
        margin-bottom: 50px;
            h1{
                margin-left: 20px;
                font-size: 1.5em;
            }
            a{
                text-decoration: none;
                color: black;
            }
            .fonction{
                display: flex;
                align-items: center;
                padding: 10px;
                margin: 20px;
                border-radius: 15px;
                background-color: $fond;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                    .fas{
                        color: grey;
                    }
                    .icon{
                        padding: 10px 15px;
                    }
            }        
            .choix{
                display: flex;
                background-color: $primaire;
                width: 20px;
                position: absolute;
                margin-left: -20px;
                justify-content: center;
                border-radius: 25px;
                color: white;
                font-weight: lighter;
            }
    }     
       /*restaurants pages d'acceuil*/
    .restaurants{
        width: auto;
        background-color: $fond;
        display: flex;
        flex-direction: column;
            h1{
                margin-left: 20px;
                margin-top: 40px;
                font-size: 1.5em;
            }
            a{
                text-decoration: none;
                color: black;
            }
            .card{
            width: auto;        
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
                .patch{
                    @include patchimage
                    }
                    .divimg1{
                        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                        @include imageresto                        
                        }
                .info{            
                    padding: 10px;
                    position: relative;                    
                        h3{
                            font-size: 1em;
                            margin: 10px;
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        h4{
                            font-size: 0.8em;
                            font-weight: lighter;
                            font-weight: 200;
                            margin: 10px;
                            margin-top: 5px;
                        } 
                        .heart{
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            font-size: 1.5em;
                            font-weight: 200;
                            color: grey;
                        }                       
                    }           
                .divimg2{
                    background: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                    @include imageresto
                    }
                .divimg3{
                    background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                    @include imageresto
                }
                .divimg4{
                    background: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                    @include imageresto
                } 
        }
}       
    
    /*pages des restaurants*/
    .bandeau_image_lapalettedugout{        
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        @include bandeauimage 
    }
    .bandeau_image_ledelicedessens{
        background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include bandeauimage
    }
    .bandeau_image_lanoteenchantee{
        background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include bandeauimage 
    }
    .bandeau_image_alafrancaise{
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @include bandeauimage
    }
    .menu{        
        display: flex;
        flex-direction: column;       
        background-color: $fond;
        border-radius: 40px 40px 0 0 ;
        margin-top: -50px ; 
        background-color: $fond;     
            .titre{
                width: 100%;            
                display: flex;
                justify-content: space-between;
                border-radius: 40px 40px 0 0 ;                                 
            } 
            .fa-heart{
                font-size: 2em;            
                padding-top: 20px;
                padding-right: 20px;
                color: grey;                                
            }       
            h2{
                font-family: 'shrikhand';
                margin-left: 10px;                  
            }
            h3{
                margin: 10px;
                
            }
            .plat{
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 10px;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0px 5px 10px rgba(0 , 0 , 0 , 0.2);
                h3{
                    font-size: 1em;
                    margin: 10px;
                    margin-bottom: 0;
                }
                h4{
                    font-size: 0.9em;
                    font-family: 'Roboto-Light';
                    font-weight: 200;
                    margin: 10px;
                }
                .prix{
                    position: absolute;
                    top: 40px;
                    right: 20px;
                    font-size: 0.8em;
                }
            } 
            .boutoncommander{
                
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                        a {                        
                            text-decoration: none;
                            color: white;
                                .commander {
                                @include buttonpurple
                                }
                                .commander:hover{
                                @include buttonpurpleclear
                                }
                        }

                }      
            
    }
    
    footer{
        background-color: rgb(44, 42, 42);
            h3{
                color: white;
                font-family: 'shrikhand';
                padding: 20px;
                font-weight: lighter;
                margin: 0;
            }
            ul{
                padding: 20px;
                margin: 0;
            }
            li{
                list-style-type: none;
                padding-bottom: 10px;
            }
            a{
                text-decoration: none;
                color: white;
                font-weight: lighter;            
            }
            .fas{    
                padding-right: 10px;
            }
            .fa-hands-helping{
                font-size: 0.7em;
            }
    }