@charset "UTF-8";
@font-face {
  font-family: 'roboto';
  src: url(font/Roboto-Light.ttf);
  src: url(font/Roboto-Black.ttf);
  src: url(font/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'shrikhand';
  src: url(font/Shrikhand-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'roboto';
}

/*fleche sur page de menu des restaurants*/
.fleche_retour {
  margin-left: 15px;
  padding-top: 15px;
  position: absolute;
  /*logo commun à toutes les pages*/
}

.fleche_retour .fa-arrow-left {
  font-size: 1.5em;
  color: black;
}

.logo {
  font-family: 'shrikhand';
  text-align: center;
}

/*page d'acceuil*/
.localisation {
  background-color: #e7e1e1;
  border-top: 2px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation .fa-map-marker-alt {
  padding-right: 15px;
}

.reserve {
  background-color: #f2f2f2;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
}

.reserve h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
}

.reserve p {
  text-align: center;
  font-weight: lighter;
  margin: 0;
}

.reserve .explorez {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
}

.reserve a {
  text-decoration: none;
  color: white;
}

.fonctionnement {
  margin-top: 40px;
  margin-bottom: 50px;
}

.fonctionnement h1 {
  margin-left: 20px;
  font-size: 1.5em;
}

.fonctionnement .fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.fonctionnement .fonction .fas {
  color: grey;
}

.fonctionnement .fonction .icon {
  padding: 10px 15px;
}

.fonctionnement .choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9356dc;
  width: 20px;
  position: absolute;
  margin-left: -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  color: white;
  font-weight: lighter;
}

/*pages des restaurants*/
.bandeau_image_lapalettedugout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_ledelicedessens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_lanoteenchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.bandeau_image_alafrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  background-color: #f2f2f2;
}

.menu .titre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px 40px 0 0;
}

.menu .fa-heart {
  font-size: 2em;
  padding-top: 20px;
  padding-right: 20px;
  color: grey;
}

.menu h2 {
  font-family: 'shrikhand';
  margin-left: 10px;
}

.menu h3 {
  margin: 10px;
}

.menu .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu .plat h3 {
  font-size: 1em;
  margin: 10px;
  margin-bottom: 0;
}

.menu .plat h4 {
  font-size: 0.8em;
  font-family: 'Roboto-Light';
  font-weight: 200;
  margin: 10px;
}

.menu .plat .prix {
  position: absolute;
  margin-top: 40px;
  margin-left: 260px;
  font-size: 0.8em;
}

.menu .commander {
  margin: 50px auto 60px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
}

.menu a {
  text-decoration: none;
  color: white;
}

/*restaurants pages d'acceuil*/
.restaurants {
  width: auto;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants h1 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 1.5em;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants .card {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.restaurants .card .divimg1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .divimg1 .patch {
  background-color: #99e2d0;
  width: auto;
  padding: 5px;
  position: absolute;
  margin-top: 20px;
  margin-left: 220px;
  font-size: 0.8em;
  color: #1b811b;
}

.restaurants .card .info {
  padding: 10px;
}

.restaurants .card .info h3 {
  font-size: 1em;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.restaurants .card .info h4 {
  font-size: 0.8em;
  font-family: 'Roboto-Light';
  font-weight: 200;
  margin: 10px;
  margin-top: 5px;
}

.restaurants .card .info .heart {
  position: absolute;
  margin-top: -40px;
  margin-left: 230px;
  font-size: 1.5em;
  font-weight: 200;
  color: grey;
}

.restaurants .card .divimg2 {
  background: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .divimg2 .patch {
  background-color: #99e2d0;
  width: auto;
  padding: 5px;
  position: absolute;
  margin-top: 20px;
  margin-left: 220px;
  font-size: 0.8em;
  color: #1b811b;
}

.restaurants .card .divimg3 {
  background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.restaurants .card .divimg4 {
  background: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: #2c2a2a;
}

footer h3 {
  color: white;
  font-family: 'shrikhand';
  padding: 20px;
  font-weight: lighter;
  margin: 0;
}

footer ul {
  padding: 20px;
}

footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

footer .fas {
  padding-right: 10px;
}

footer .fa-hands-helping {
  font-size: 0.7em;
}
/*# sourceMappingURL=style.css.map */